body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    direction: rtl; /* إضافة هذا السطر لتغيير اتجاه الكتابة إلى اليمين */

  }
  
header {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  
}

nav ul {
  list-style: none;
  padding: 0;
  
}

nav ul li {
  display: inline;
  margin-right: 20px;
  

}

nav a {

  position: relative;
  text-decoration: none;
  color: #909090;
  font-weight: bold;
  transition: .3s;

}
nav a::before{
  content: '';
  position: absolute;
  right: 0%;
  height: 3px;
  width: 0%;
  background-color: #397cff;
  bottom: -7px;
  transition: .3s;

}
nav a:hover{
  color: white;
}
nav a:hover::before{
  width: 100%;
}

  main {
    padding: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  p {
    line-height: 1.6;
    color: #666;
  }
  
  .exercise-list {
    margin-top: 15px;
    list-style-type: none;
    padding: 0;
  }
  
  .exercise-list li {
    background-color: #ddd;
    padding: 10px;
    margin: 5px 80px;
    border-radius: 5px;
  }
  
 li img:hover{
  transform: scale(1.1);
  transition: 0.7s ease;
}
footer {
  background-color: black++;
  color: #fff;
  text-align: center;
  padding: 1em 0; bottom: 0;
  width: 100%;
  margin-top: auto; /* يجعله يظهر في الأسفل دون الحاجة لتثبيته بوضعية ثابتة */

}



.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  /* background-color: #3498db; */
  color: #397cff;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

/* .scroll-to-top:hover {
  background-color: #2980b9;
} */

.icon_web{
  color: white;
  text-decoration: none;
  margin: 0px 10px;
}


  