body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    direction: rtl; /* إضافة هذا السطر لتغيير اتجاه الكتابة إلى اليمين */

}

h1, h2 {
    color: #333;
}

section {
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    color: #666;
}
