/* *{
  margin: 0;
}
html {
  font-family: Arial;
  font-size: 16px;
  background: #f4f4f4;
}

.sidebar {
  position: fixed;
  width: 30%;
  height: 100vh;
   background: wheat;
  background: white;
  font-size: 0.65em;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  margin-top: 80px;
}

.nav ul {
  margin-top: -109px;
  margin-left: -50px;
  list-style: none;
  
  li {
    position: relative;
    margin: 3.2em 0;
    
    a {
      margin-right: 20px;
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: rgba(#FFF, 0.35);
      display: block;
      transition: all ease-out 300ms;
      height: inherit;
    }
    
    &.active a {
      color: white;
    }
    
    &:not(.active)::after {
      opacity: 0.2;
    }
    
    &:not(.active):hover a {
      color: #FFF;
      background-color: #397cff;
      text-align: center;
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: black;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #5e42a6, #b74e91)
    }
  }
}
.img{
  margin-top: -200px;
  margin-left: -10px;
  height: 230px;
  width: 200px;
  text-align: center;

}
li a{
  text-align: center;
} */




 body{
  background-color: #EEE;
 }
section {
  display: flex;
  flex-wrap: wrap;

  width: 100%;

}
.personal{

  overflow:scroll ;
  width: 300px;
  height: 100vh;
  display: flex;
   position: fixed; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  /* margin-right: 84pc; */
  /* margin-bottom: 10pc; */


}

ul li {
  text-align: center;
  list-style: none;
  margin-left: -3pc;
  
  margin-top: 4pc;
}

.img{
  width: 70%;
  height: auto;
 
  text-align: center;

}
ul li a{
  text-align: center;
  text-decoration: none;
  color: black;
  width: 100%;
}
 
hr{
  width: 100%;
}

.div{
  display: inline-block;
  width: 32%;
  margin: 2px ;
  background-color: blue;
  height: 10%;
  text-align: center;
}